
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
reports/cucumber/*.html
reports/cucumber/*.json
reports/playwright/**
!reports/playwright/.gitkeep
homepage_debug.png
flash_deal_debug.png
